@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap);
*,
ol,
ul {
  padding: 0;
  margin: 0;
}
li,
ol,
ul {
  list-style: none;
}
*,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}
.header-section,
header.sticky {
  position: fixed;
  width: 100%;
  left: 0;
}
.our_project_section::after,
section#overview::after {
  content: "";
  height: 100%;
  background: #cbdbc5;
  top: 0;
  z-index: -1;
  width: 50%;
}
.parent > div,
.sliderInf {
  overflow: hidden;
}
.div1,
.div2 {
  grid-row: span 2 / span 2;
}
.div2,
.div8 {
  grid-column: span 2 / span 2;
}
.card-img,
.input-group_label,
.next_btn,
.prev_btn,
.project_info {
  transform: translateY(-50%);
}
* {
  line-height: 1.5;
  box-sizing: border-box;
  font-weight: 400;
}
html {
  scroll-padding-top: 140px;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
a,
span,
strong {
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 8px;
}
.section-p1 {
  padding: 40px 100px;
}
.section-p2 {
  padding: 20px 100px;
}
.section-p3 {
  padding: 0 100px 20px;
}
.buttons button {
  padding: 10px 20px;
  border: none;
}
.grn {
  color: #a1d18f;
}
.header-section {
  top: 0;
  z-index: 999;
}
.input-group,
.main_slider > li.slide-item,
.nav_bar,
.our_project_section,
div#mainBanner,
section#overview {
  position: relative;
}
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu_bar,
ul.menu,
ul.slide-priviewer {
  align-items: center;
  display: flex;
}
.main_slider > li.slide-item.show_banner,
.parent img {
  display: block;
}
.logo {
  width: 200px;
}
ul.menu > li {
  padding: 0 25px;
}
ul.menu > li > a {
  color: #fff;
  font-weight: 700;
}
header.sticky {
  z-index: 9999;
  top: 0;
  transition: 0.2s;
  background: #fff;
}

header.sticky ul.menu > li > a {
  color: #000;
}

.main_slider > li.slide-item {
  display: none;
}
.project_info {
  position: absolute;
  top: 50%;
  left: 2%;
  z-index: 9;
  padding: 20px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
ul.slide-priviewer {
  position: absolute;
  bottom: 2%;
  right: 0;
  width: 100%;
  justify-content: end;
}
ul.slide-priviewer li.prv-list {
  color: #fff;
  width: 10%;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}
.show_active {
  box-shadow: 0 0 10px #f2f2f2, 0 0 10px #fff;
  transition: box-shadow 0.3s;
  cursor: pointer;
}
li.slide-item img {
  filter: brightness(0.5);
}
section#overview::after {
  position: absolute;
  left: 0;
}
section#project h2.heading {
  padding-left: 60px;
}
.our_project_section::after {
  position: absolute;
  right: 0;
}
.cards {
  background: #e8e6e6;
  position: relative;
  padding: 25px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  margin: 30px 0;
}
.card-img {
  position: absolute;
  max-width: 400px;
  top: 28%;
  right: -2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.buttons.card-btn {
  position: absolute;
  right: 30px;
  bottom: 3%;
}
.buttons.card-btn button {
  background: #000;
  color: #fff;
  margin-top: 20px;
  border-radius: 0;
}
.amenities-section {
  background: #000;
}
.sliderInf {
  width: 100%;
  position: relative;
  white-space: nowrap;
}
.slide_box {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 20px;
  animation: 50s linear infinite scroll;
}
.slide_box:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.slides {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.slides img {
  max-width: 640px;
  height: auto;
}
.aminities_contant p {
  color: #fff;
  margin: 10px 0;
  text-align: left;
}
.next_btn,
.prev_btn {
  position: absolute;
  top: 50%;
  background: rgba(255, 255, 255, 0.5);
  padding: 15px;
  cursor: pointer;
  z-index: 10;
  color: #fff;
}
.lightBox,
section#popUpGetTuch {
  position: fixed;
  z-index: 9999;
  height: 100vh;
}
.prev_btn {
  left: 2%;
}
.next_btn {
  right: 2%;
}
.next_btn span,
.prev_btn span {
  color: #fff;
}
.lightBox {
  left: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
}
span.close_lightbox {
  color: #000;
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 25px;
  padding: 1px 15px;
  background: #fff;
}
.lightBox img,
.lightBox p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lightBox img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.parent img,
img#popupProjectImage {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}
.lightBox p {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  -webkit-text-stroke: 1px #fff;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  max-height: 500px;
}
.parent img {
  width: 100%;
}
.div3 {
  grid-row: span 3 / span 3;
  grid-column-start: 4;
}
.div4 {
  grid-row: span 2 / span 2;
  grid-column-start: 5;
}
.div5,
.div6 {
  grid-row: span 3 / span 3;
  grid-row-start: 3;
}
.div5 {
  grid-column-start: 3;
}
.div6 {
  grid-column-start: 5;
}
.div7 {
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 4;
}
.div8 {
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 3;
}
.get-tuch-section {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #000;
  height: 100vh;
}
.input-group_label {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #fff;
  transition: 0.3s ease-in-out;
  background-color: transparent;
  padding: 0 5px;
}
.get-tuch:focus + .input-group_label,
.get-tuch:valid + .input-group_label {
  transform: translateY(-38px) scale(0.8);
  background-color: #000;
  padding: 2px 5px;
}
.get-tuch {
  font: inherit;
  color: #fff;
  padding: 12px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #fff;
  outline: 0;
  background: transparent;
  transition: outline-color 0.3s ease-in-out;
}
.get-tuch:focus {
  border: 2px solid #a1d18f;
  border-radius: 4px;
  background: 0 0;
}
.get-tuch-btn {
  background: #fff;
  color: #000;
  margin-top: 20px;
  padding: 10px 67px;
  border-radius: 0;
  border: #ffdead;
  outline: 0;
}
footer#footer {
  position: relative;
  bottom: 0;
  background: #fff;
}
.cta_button.cta_bths {
  position: fixed;
  top: 30%;
  right: -58px;
  transform: rotate(90deg);
  background: #a1d18f;
  padding: 15px;
  border-radius: 50px 50px 50px 20px;
  z-index: 999;
}
.cta_button.cta_bths a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
.cta_button.cta_bths a span {
  margin: 0 10px;
}
section#popUpGetTuch {
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  display: none;
}
section#popUpGetTuch .get_in_tuch {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  padding: 20px;
}
.close_pop span {
  color: red;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid;
  padding: 5px;
  cursor: pointer;
  background: #fff;
}

.rlvt {
  position: relative;
  height: 100%;
}

.project_info_pop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.project_info_pop p {
  font-size: 18px;
}
.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  background: transparent !important;
  width: auto !important;
}
label.invalid-data.existingCheck {
  position: absolute;
  width: auto !important;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: transparent !important;
}
@media screen and (min-width: 768px) {
  ul.menu {
    display: flex;
  }
}
@media screen and (max-width: 1500px) {
  .card-img {
    max-width: 290px;
    height: 80%;
    right: -6%;
  }
  .card-img img {
    height: 100%;
  }
}
@media screen and (max-width: 1366px) {
  .section-p1 {
    padding: 40px 35px;
  }
}
@media screen and (max-width: 1280px) {
  .card-img {
    max-width: 250px;
    height: 65%;
    right: -10%;
  }
  h3.card_head {
    font-size: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .card-img {
    position: static;
    transform: translate(0);
    max-width: 100%;
  }
  .buttons.card-btn {
    position: static;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 991px) {
  .section-p2 {
    padding: 20px;
  }
  .overview-contant {
    padding: 10px;
    text-align: justify;
    background: #f2f2f2;
    margin: 15px 0;
    border: 10px solid;
  }
  .buttons.card-btn {
    position: static;
    display: flex;
    justify-content: space-between;
  }
  .close_menu .line2,
  ul.menu,
  ul.slide-priviewer {
    display: none;
  }
  .cards {
    width: 100%;
    margin: 0;
  }
  .project_info {
    position: static;
    transform: translate(0);
    color: #000;
    background: #fff;
  }
  ul.menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #f2f2f2;
    flex-direction: column;
    width: 100%;
  }
  .get-tuch,
  .nav_bar,
  ul.menu > li {
    padding: 10px;
  }
  .logo {
    width: 140px;
  }
  header#header {
    padding: 0;
  }
  div#desktop_ham > .line.line2 {
    margin: 5px 15% 5px 0;
    width: 20px;
  }
  div#desktop_ham > .line {
    width: 31px;
    height: 1px;
    background: #000;
  }
  .close_menu .line1 {
    transform: rotate(45deg);
  }
  .close_menu .line3 {
    transform: rotate(-45deg);
  }
  ul.menu.show_menu {
    display: block;
  }
  section#popUpGetTuch .get_in_tuch {
    width: 95%;
  }
  section#popUpGetTuch h2 {
    font-size: 20px;
  }
  section#popUpGetTuch p {
    font-size: 12px;
  }
  .close_pop span {
    color: red;
    right: 0;
    top: 0;
    background: #f2f2f2;
  }
  .get-tuch-btn {
    margin: 5px 0 !important;
  }
  ul.menu > li > a {
    color: #000;
  }
}
@media screen and (max-width: 580px) {
  li.slide-item img {
    height: 40vh;
  }
  li.slide-item img.project-logo {
    height: inherit;
  }
}
